Tudonastorev2/Service References/mainVITLabService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TudoNaStoreEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TudoNaStoreEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressCom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressNgh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressSta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="ClientPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientRegionID" type="xs:int" />
      <xs:element minOccurs="0" name="ClientStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacebookID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Geolocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HashControl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstagramID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeCli" type="tns:ClientType" />
      <xs:element minOccurs="0" name="WhatsApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientEntity" nillable="true" type="tns:ClientEntity" />
  <xs:simpleType name="ClientType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F" />
      <xs:enumeration value="J" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
</xs:schema>